.catalog {
	.subCategoriesHoler {
		padding: 0 @lrOffset;
		margin-top: 4px;
		
		.subCategories {
			border: 1px solid @catalogBorderColor;
			border-radius: 5px;
			padding: 0px 4px 3px 4px;
			overflow: hidden;
			transition: max-height 0.4s ease 0s;
			
			&.needMoreBtn {
				max-height: 144px;
			}
			&.opened {
				max-height: 1000px;
			}

			li {
				display: inline;
				font-size: 12px;
				margin-right: 2px;
				line-height: 24px;
				color: #6E6E6E;

				a {
					color: #6E6E6E;
				}
			}
		}

		.moreBtnHolder{
			display: none;
			text-align: center;

			.moreBtn {
				position: relative;
				text-align: center;
				padding: 6px 37px 9px 22px;
				display: inline-block;
				background: @green;
				font-weight: bold;
				font-size: 14px;
				color: #FFF;
				border-radius: 0 0 5px 5px;
				cursor: pointer;
				
				&:after {
					content: " ";
					position: absolute;
					display: block;
					right: 18px;
					top: 10px;
					width: 4px;
					height: 4px;
					border-bottom: 3px solid #fff;
					border-right: 3px solid #fff;
					transform: rotate(45deg);							
				}
				&.opened:after {
					transform: rotate(225deg);
				}
			}
		}
	}

	.sorting {
		text-align: center;
		margin-top: 26px;
		
		a {
			font-size: 10px;
			text-decoration: none;
			color: #2d3e50;
			border: 1px solid #bec3c7;
			border-radius: 10px;
			margin: 0 0px;
			padding: 0px 9px 2px 9px;
			
			&.active {
				color: #FFF;
				background: @green;
				border-color: @green;
			}
		}
	}

	.filter {
		margin-bottom: 21px;
		
		.openBtn {
			position: relative;
			width: 97%;
			font-size: 14px;
			text-align: center;
			margin: 0 auto;
			margin-top: 23px;
			padding: 8px 0;
			background: #f1f1f1;
			color: #636363;
			border-radius: 5px;
			cursor: pointer;
			
			&:after {
				content: " ";
				display: inline-block;
				width: 0;
				height: 0;
				margin-left: 12px;
				border-top: 6px solid #636363;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}
		}
	}
}