.pickupPoints {
	h3.green {
		margin-top: 9px;
		margin-bottom: 7px;
		font-size: 14px;
		font-weight: normal;
	}

	.metroHolder {
		&.hidden {
			display: none;
		}
	}

	.selectHolder {
		position: relative;
		padding: 0 @lrOffset;
		
		select {
			background: url(@pathToSprite) 100% -497px no-repeat;
			width: 100%;
			padding: 6px 4px;
			font-size: 12px;
			color: @titleColor;
			border: 1px solid @inputBorderColor;
			border-radius: 3px;
			-webkit-appearance: none;
			   -moz-appearance: none;
					appearance: none;
		}
	}

	.pickupPointsList {
		width: 100%;
		margin-top: 27px;
		border-top: 1px solid @catalogBorderColor;
		box-sizing: border-box;
		
		li {
			display: table;
			width: 100%;
			color: #444;
			font-size: 12px;
			line-height: 18px;
			min-height: 52px;
			font-weight: bold;
			padding: 5px 47px 5px @lrOffset;
			border-bottom: 1px solid @catalogBorderColor;
			background: url(@pathToSprite) 100% -223px no-repeat;
			box-sizing: border-box;
			
			&.activePoint {
				background-color: #ECECEC;
			}

			&.disabled {
				background: #FFF;
			}
			
			span {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
			}
		}
	}

	.mapHolder {
		width: 100%;
		height: 225px;
		margin-top: 45px;

		background: url("../../img/loader.gif");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 32px;
	}

	.paymentTypes {
		margin-top: 43px;
		margin-bottom: 48px;
	}
}