.productCart {
	.topInfo {
		.art {
			margin-left: 4px;
			margin-top: -1px;
			color: @cartLightGray;
			font-size: 12px;
			float: left;
		}
		.rests {
			float: right;
			font-size: 10px;
			color: @catalogGreenText;
			position: relative;
			top: -7px;
			margin-right: 6px;
			
			&:before {
				content: " ";
				position: relative;
				top: 3px;
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 4px;
				background: url(@pathToSprite) -27px -163px no-repeat;
			}

			&.notAvailable {
				color: @catalogGrayText;
				
				&:before {
					background: url(@pathToSprite) -27px -177px no-repeat;
				}
			}
		}
		.delivery {
			float: right;
			font-size: 10px;
			color: @catalogGreenText;
			position: relative;
			top: -7px;
			margin-right: 6px;

			&:before {
				content: " ";
				position: relative;
				top: 4px;
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 8px;
				margin-left: 15px;
				background: url(@pathToSprite) -44px -163px no-repeat;
			}
		}
	}

	.images {
		text-align: center;
		
		.activePhotoSlider {
			width: 100%;
			line-height: 175px;
			margin: 0 auto;
			margin-top: 9px;
			
			.slick-list {
				height: 100%;
				
				.slick-track {
					height: 100%;
				}
			}

			img {
				max-height: 100%;
				max-width: 300px;
				display: inline;
				vertical-align: middle;
				line-height: 1;
			}
		}

		.previewsSlider {
			width: 219px;
			height: 50px;
			margin: 0 auto;
			margin-top: 3px;
			
			.slick-slide {
				height: 40px;
				width: 40px!important;
				border: 1px solid @cartPreveiwBorder;
				border-radius: 4px;
				margin: 0 2px;
				box-sizing: border-box;
				
				&.activeSlide {
					border: 1px solid @green;
				}
			}
			
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.buyInfo {
		display: inline-block;
		width: 100%;
		margin-top: 12px;
		padding-top: 21px;
		padding-left: @lrOffset;
		border-top: 1px solid @catalogBorderColor;
		box-sizing: border-box;

		.leftCol {
			float: left;
		}
		.rightCol {
			float: right;
			padding-right: 3px;
		}

		.priceHolder {
			font-size: 14px;
			color: @cartPriceColor;
			padding-left: 4px;
			
			.price {
				font-size: 24px;
				font-weight: bold;
				
				&:after {
					content: "q";
					padding-left: 5px;
					font-family: @rouble;
				}
			}
		}

		.credit {
			width: 116px;
			font-size: 10px;
			font-weight: 400;
			color: #2D3E50;
			margin-top: 2px;
			padding-left: 23px;
			background: url(@pathToSprite) -2px -308px no-repeat;
			
			span {
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.return {
			width: 90px;
			font-size: 10px;
			font-weight: 400;
			color: #888b90;
			margin-left: 3px;
			margin-top: 21px;
			padding-left: 23px;
			background: url(@pathToSprite) -2px -363px no-repeat;
			
			a {
				color: #888b90;
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.compensaion {
			width: 100px;
			height: 24px;
			font-size: 10px;
			font-weight: 400;
			color: #f39c11;
			margin-top: 25px;
			padding-left: 23px;
			background: url(@pathToSprite) -2px -336px no-repeat;
			
			a {
				color: #f39c11;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}

	.buyBtnHolder {
		padding: 0 @lrOffset;
		margin-top: 35px;
		
		.buyBtn {
			display: block;
			height: 30px;
			line-height: 30px;
			color: #FFF;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			background: @buttonColorBorder;
			border-bottom: 3px solid @buttonOrangeColorBorder;
			border-radius: 6px;
			cursor: pointer;
			
			&.activeBtn {
				background: @green;
				// border-color: @buttonColorBorder;
			}
		}
	}

	.fastBuyBtnHolder {
		padding: 0 @lrOffset;
		margin-top: 7px;
		
		.fastBuyBtn {
			display: block;
			height: 30px;
			line-height: 30px;
			color: #FFF;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			background: @orange;
			border-bottom: 3px solid @buttonOrangeColorBorder;
			border-radius: 6px;
			cursor: pointer;
		}
	}

	.productInfo {
		margin-top: -29px;
		margin-bottom: 40px;
		padding: 0 @lrOffset;
		
		.tabs {
			.tabsNav {
				text-align: center;
				border-bottom: 2px solid @green;
				
				li {
					display: inline-block;
					padding: 11px 9px 9px 13px;
					color: @cartPriceColor;
					font-weight: bold;
					font-size: 12px;
					text-transform: uppercase;
					border-radius: 10px 10px 0px 0px;
					cursor: pointer;
					box-shadow: 1px -1px 5px @cartInfoShadow;
					
					&.active {
						background: @green;
						color: #fff;
					}
				}
			}

			.tabsContent {
				box-shadow: 0px 2px 5px @cartInfoShadow;
				border-radius: 0px 0px 5px 5px;

				& > div {
					display: none;
					
					&.textTab {
						padding: 5px;
						
						img {
							max-width: 100%;
						}

						h3 {
							margin: 5px 0;
						}

						ul {
							font-size: 12px;
							
							li {
								position: relative;
								padding-left: 20px;
								
								&:before {
									content: "\2022  ";
									position: absolute;
									left: 5px;
								}
							}
						}
					}
					
					&.active {
						display: block;
					}
				}

				.feedbacks {
					position: relative;
					overflow: hidden;
					padding: 5px;
										
					.feedback {
						border-bottom: 1px solid @catalogBorderColor;
						padding-bottom: 14px;
						margin-bottom: 12px;

						.name {
							font-size: 14px;
							font-weight: bold;
							color: @green;
							margin-top: 10px;
							margin-bottom: 13px;
							padding-left: 22px;
							background: url(@pathToSprite) -7px -471px  no-repeat;
						}
						.comment {
							font-size: 12px;
							color: #313131;
						}
					}

					.newFeedback {
						position: absolute;
						top: 0;
						left: 102%;
						width: 100%;
						height: 477px;
						background: #fff;
						text-align: center;
						-webkit-transition: left @menuAnimTime @menuAnimFunction @menuAnimDelay;
						   -moz-transition: left @menuAnimTime @menuAnimFunction @menuAnimDelay;
						     -o-transition: left @menuAnimTime @menuAnimFunction @menuAnimDelay;
						        transition: left @menuAnimTime @menuAnimFunction @menuAnimDelay;
						
						.backBtn {
							position: relative;
							background: @leftMenuGray;
							height: 35px;
							line-height: 34px;
							font-size: 14px;
							text-align: left;
							padding: 0px 0px 0px 17px;
							margin-bottom: 19px;
							cursor: pointer;
							
							&:before {
								content: " ";
								position: absolute;
								height: 6px;
								width: 6px;
								top: 13px;
								left: 6px;
								border-bottom: 2px solid #868686;
								border-left: 2px solid #868686;
								transform: rotate(45deg);
							}
						}

						input {
							width: 96.5%;
							padding: 10px 5px;
							box-sizing: border-box;
							margin-bottom: 10px;
							border: 1px solid #cecdcd;
							border-radius: 3px;

							&.error {
								text-align: left;
								border-color: @red;
							}
						}

						textarea {
							width: 96.5%;
							height: 231px;
							padding: 10px 5px;
							resize: none;
							box-sizing: border-box;
							border: 1px solid #cecdcd;
							border-radius: 3px;

							&.error {
								text-align: left;
								border-color: @red;
							}
						}

						.sendNewFeedback {
							display: block;
							height: 48px;
							width: 96.5%;
							line-height: 48px;
							margin: 21px auto 20px auto;
							color: #FFF;
							font-size: 18px;
							font-weight: bold;
							text-transform: uppercase;
							text-align: center;
							background: @orange;
							border-bottom: 3px solid @buttonOrangeColorBorder;
							border-radius: 4px;
							cursor: pointer;
						}

						.response {
							margin-top: 100px;
						}
					}
					&.showNewFeedback {
						.newFeedback {
							left: 0%;
						}
					}

					.newFeedbackBtn {
						display: block;
						height: 50px;
						line-height: 50px;
						margin-top: 23px;
						margin-bottom: 28px;
						color: #FFF;
						font-size: 18px;
						font-weight: bold;
						text-transform: uppercase;
						text-align: center;
						background: @orange;
						border-bottom: 3px solid @buttonOrangeColorBorder;
						border-radius: 6px;
						cursor: pointer;
					}
				}
			}
		}
	}

	.nearProducts {
		width: 100%;
		margin-top: 28px;
		display: inline-block;
		margin-bottom: 11px;
		
		.prevProduct {
			padding: 14px 4px 14px 27px;
			float: left;
			margin-left: @lrOffset;
			color: @catalogGreenText;
			background: url(@pathToSprite) -1px -427px no-repeat;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			border: 1px solid @green;
			border-radius: 10px;
			box-sizing: border-box;
		}
		.nextProduct {
			padding: 14px 30px 14px 8px;
			float: right;
			margin-right: @lrOffset;
			color: @catalogGreenText;
			background: url(@pathToSprite) 116px -390px  no-repeat;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			border: 1px solid #72af20;
			border-radius: 10px;
			box-sizing: border-box;
		}
	}

	.recommendations {
		margin-top: 38px;
		margin-bottom: 20px;

		.blockTitle {
			margin-bottom: 14px;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			color: #494C51;
		}
	}

	.watched {
		margin-top: 33px;
		margin-bottom: 20px;

		.blockTitle {
			margin-bottom: 14px;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			color: #494C51;
		}

		.moreProductsBtn {
			margin-bottom: 58px;
		}
	}
}