.staticPage {
	h1.title {
		margin-bottom: 11px;
	}

	h3.green {
		margin-top: 8px;
		margin-bottom: 11px;
		font-size: 12px;
		text-transform: uppercase;
	}

	p {
		color: #2D3E50;
		font-size: 12px;
		padding: 8px @lrOffset;
		line-height: 14px;
		
		&.subTitle {
			padding-top: 15px;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
		}
		&.center {
			text-align: center;
		}
		&.green {
			color: @green;
		}

		a {
			color: @green;
		}
		span.bold {
			font-weight: bold;
		}
	}

	.img {
		&.center {
			text-align: center;
			margin-bottom: 4px;
		}
	}

	.callBtnHolder {
		margin-top: 30px;
	}

	.grayNote {
		margin: 0 @lrOffset;
		padding: 8px 0px;
		color: #434343;
		background: #cdcdcd;
		font-size: 12px;
		text-align: center;

		span {
			font-weight: bold;
		}
	}

	hr.line {
		border: none;
		border-bottom: 1px solid @catalogBorderColor;
	}

	.descriptionWithImg {
		width: 100%;

		tbody {
			tr {
				border-bottom: 1px solid @catalogBorderColor;

				.img {
					width: 60px;
					padding-top: 20px;
					text-align: center;
					vertical-align: top;
				}
				.textHolder {
					padding-top: 20px;
					
					.title {
						display: block;
						color: @green;
						font-size: 12px;
						font-weight: bold;
						text-transform: uppercase;
						text-align: left;
						vertical-align: top;
					}

					.text {
						
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.grayFeedbaksBtnHolder {
		padding: 0 @lrOffset;
		margin-top: 37px;
		margin-bottom: 51px;
		
		.grayFeedbaksBtn {
			display: block;
			width: 100%;
			height: 47px;
			line-height: 47px;
			color: #FFF;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			background: #d0d0d0;
			border: none;
			border-bottom: 3px solid #afafaf;
			border-radius: 6px;
			cursor: pointer;
			-webkit-appearance: none;
			  -moz-appearance: none;
			       appearance: none;
		}
	}

	.lineWithBorder {
		border-bottom: 1px solid @catalogBorderColor;
		
		.contactLine {
			width: 100%;
			padding-left: 5px;
			margin-bottom: 12px;
			display: inline-block;
			box-sizing: border-box;
			
			img {
				float: left;
			}
			.text {
				float: left;
				margin-left: 17px;
				margin-top: 5px;
				word-spacing: 1px;
				
				.greenText {
					font-size: 18px;
					font-weight: bold;
					color: @green;
				}
				.note {
					font-size: 12px;
					color: #494C51;
				}
			}
		}

		.contactText {
			color: #494c51;
			font-size: 12px;
			line-height: 22px;
			font-weight: bold;
			padding: 0 @lrOffset;
		}
		&.adress {
			margin-top: 14px;
			
			#moscowMap {
				height: 160px;
				background: url("../../img/loader.gif");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 32px;
				margin: 17px @lrOffset;
				box-sizing: border-box;
			}

			#spbMap {
				height: 160px;
				background: url("../../img/loader.gif");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 32px;
				margin: 17px @lrOffset;
				box-sizing: border-box;
			}
		}
	}
}