@import "css-reset.less";
@import "fonts.less";

@import "variables.less";

body {
	width: 320px;
	position: relative;
}

.leftMenu {
	will-change: transform;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	width: 80%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	-webkit-transition: @menuAnimPropertyMenu @menuAnimTime @menuAnimFunction @menuAnimDelay;
	-moz-transition: @menuAnimPropertyMenu @menuAnimTime @menuAnimFunction @menuAnimDelay;
	-o-transition: @menuAnimPropertyMenu @menuAnimTime @menuAnimFunction @menuAnimDelay;
	transition: @menuAnimPropertyMenu @menuAnimTime @menuAnimFunction @menuAnimDelay;
	
	&.menuActive{
		display: block;
	}

	.title {
		position: relative;
		font-family: @segoe;
		font-family: @segoe;
		font-size: 14px;
		font-weight: bold;
		background: @leftMenuGray;
		
		&:before {
			content: " ";
			position: absolute;
			display: block;
			left: 7px;
			top: 38px;
			height: 5px;
			width: 5px;
			background: @leftMenuGray;
			transform: rotate(45deg);
		}
	}

	li {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background: #FFF;
		font-family: @segoe;
		font-size: 14px;
		box-sizing: border-box;
		padding-left: 5px;
		border-bottom: 1px solid @leftMenuGray;
		
		span {
			position: relative;
			font-family: @segoe;
			font-size: 14px;
			display: block;
			cursor: pointer;
			
			&:after {
				content: " ";
				position: absolute;
				display: block;
				right: 8px;
				top: 17px;
				width: 5px;
				height: 5px;
				border-top: 2px solid #808080;
				border-right: 2px solid #808080;
				transform: rotate(45deg);
			}
		}
		.submenu {
			width: 100%;
			position: absolute;
			z-index: 5;
			left: 100%;
			top: 0px;
			transition: left 0.3s ease-out 0s;
			
			li {
				cursor: pointer;
				
				a {
					display: block;
					text-decoration: none;
					color: #000;
				}
				
				&.back {
					cursor: pointer;
					line-height: 48px;
					height: 50px;
					padding-left: 19px;
					
					&:before {
						content: " ";
						position: absolute;
						display: block;
						left: 6px;
						top: 20px;
						width: 5px;
						height: 5px;
						border-bottom: 2px solid #808080;
						border-left: 2px solid #808080;
						transform: rotate(45deg);
					}
				}
			}

			&.showSubmenu {
				left: 0;
			}
		}
	}
}

.page {
	
	position: relative;
	background: #FFF;
	left: 0%;
	top: 0%;
	box-shadow: 6px 0px 40px #ABABAB;
	will-change: transform;
	-webkit-transition: @menuAnimProperty @menuAnimTime @menuAnimFunction @menuAnimDelay;
	-moz-transition: @menuAnimProperty @menuAnimTime @menuAnimFunction @menuAnimDelay;
	-o-transition: @menuAnimProperty @menuAnimTime @menuAnimFunction @menuAnimDelay;
	transition: @menuAnimProperty @menuAnimTime @menuAnimFunction @menuAnimDelay;
		
	.blockTitle {
		text-align: center;
		
		.text {
			display: inline-block;
			background: #fff;
			padding: 0 2px;
			font-family: @segoe;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}
		
		.dottedLine {
			border-bottom: 2px dotted #e1e3e3;
			margin-top: -8px;
		}
	}

	.fullVersion {
		position: relative;
		display: block;
		width: 100%;
		background: @orange;
		text-align: center;
		font-size: 12px;
		font-family: @segoe;
		padding: 4px 0 8px 0;
		text-decoration: underline;
		word-spacing: 1px;
		
		.fullLink {
			color: #fff;
			padding: 5px 10px;
		}
		.closeFullBtn {
			position: absolute;
			top: 3px;
			right: 1.11%;
			float: right;
			width: 18px;
			height: 18px;
			background: url(@pathToSprite) 0 0px no-repeat;
		}
	}

	.topLine {
		width: 100%;
		height: 25px;
		background: @green;
		font-family: @segoe;
		font-size: 12px;
		box-sizing: border-box;
		padding: 5px 6px 0 5px;
		
		.yourCity {
			width: 138px;
			float: left;
			font-size: 12px;
			color: #D3FF98;
			overflow: hidden;
			
			.selectHolder {
				position: absolute;
				display: inline-block;
				width: 75px;

				.citySelect {
					-webkit-appearance: none;
					   -moz-appearance: none;
					        appearance: none;
					font-size: 12px;
					width: 90px;
					color: #FFF;
					border: none;
					background: @green;
					outline-style: none;
					
					option {
						background: @green;
					}
				}
				.selectBtn {
					position: absolute;
					top: 4px;
					right: 0;
					display: inline-block;
					height: 8px;
					width: 9px;
					background: url(@pathToSprite) -2px -23px no-repeat;
					cursor: pointer;
				}
			}
		}
		.phone {
			float: right;
			font-size: 14px;
			color: #FFF;
			font-weight: bold;
			
			a {
				color: #FFF;
				text-decoration: none;
			}
		}
	}

	header {
		height: 46px;
		box-shadow: 0px 16px 26px -7px #CDCDCD;
		
		.leftCol {
			float: left;
			height: 100%;
			
			.menuBtn {
				float: left;
				height: 100%;
				width: 31px;
				cursor: pointer;
				background: url(@pathToSprite) -26px 10px no-repeat;
			}
			.logo {
				float: left;
				height: 100%;
				
				img {
					margin-top: 8px;
					margin-left: 2px;
				}
			}
		}
		.rightCol {
			float: right;
			height: 100%;
			
			.price {
				float: left;
				height: 100%;
				font-family: @segoe;
				font-weight: bold;
				font-size: 14px;
				color: #494C51;
				padding: 15px 2px 0 5px;
				
				&:after {
					content: "q";
					padding-left: 5px;
					font-family: @rouble;
				}
			}
			.basketBtn {
				position: relative;
				float: left;
				height: 100%;
				width: 36px;
				background: url(@pathToSprite) 0px -65px no-repeat;
				margin: 0 3px;

				.productCount {
					position: absolute;
					top: 6px;
					right: 5px;
					width: 15px;
					height: 15px;
					line-height: 15px;
					box-sizing: border-box;
					text-align: center;
					border-radius: 22px;
					font-family: @segoe;
					font-size: 10px;
					background: @red;
					color: #FFF;
				}
			}
			.favoriteBtn {
				float: right;
				height: 100%;
				width: 34px;
				background: url(@pathToSprite) 3px -26px no-repeat;
			}
		}
	}

	.searchBlock {
		margin-top: 16px;
		padding: 0 @lrOffset;
		
		.searchHolder {
			position: relative;
			width: 100%;
			height: 29px;
			box-sizing: border-box;
			
			.search {
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				padding: 1px 74px 1px 7px;
				word-spacing: 2px;
				border: 1px solid #cecdcd;
				border-radius: 4px;
			}
			.searchBtn {
				position: absolute;
				height: 100%;
				top: 0;
				right: 0;
				float: right;
				font-family: @segoe;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				background: @orange;
				border: none;
				color: #FFF;
				padding: 5px 8px;
				border-radius: 4px;
				cursor: pointer;
			}
		}
	}

	.main {
		padding: 16px 0 0 0;
		font-family: @segoe;

		@import "./index-page.less";
		@import "./category.less";
		@import "./catalog.less";
		@import "./productCart.less";
		@import "./deliveryWidget.less";
		@import "./basket.less";
		@import "./finish.less";
		@import "./staticPage.less";
		@import "./listing.less";
		
		// components
		@import "./components/callBtn.less";
		@import "./components/moreProductsBtn.less";
	}

	.paymentTypes {
		margin-top: 22px;
		margin-bottom: 57px;
		text-align: center;
		
		.paymentHolder {
			display: inline-block;
			margin-top: 17px;
			
			.imgHolder {
				display: inline-block;
				
				img {
					float: left;
					margin: 0 11px;
					
					&.visa {
						margin-top: 7px;
					}
				}
			}
		}
	}

	@import "./footer.less";

	.breadcrumbs {
		background: @breadcrumbsBg;
		width: 100%;
		font-size: 12px;
		padding: 10px 30px 20px 30px;
		box-sizing: border-box;
		color: #494c51;
		
		li {
			display: inline;
			font-size: 12px;

			&:not(.mainPage){
				a {
					line-height: 24px;
					color: #494c51;
					
					&:after {
						content: " ";
						display: inline-block;
						width: 4px;
						height: 4px;
						margin: 0 1px;
						border-top: 2px solid #494c51;
						border-right: 2px solid #494c51;
						transform: rotate(45deg);
					}
				}
			}

			&.mainPage {
				a {
					position: relative;
					
					&:before {
						content: " ";
						position: absolute;
						top: 3px;
						left: -25px;
						display: inline-block;
						width: 15px;
						height: 16px;
						background: url(@pathToSprite) -6px -163px no-repeat;
					}
				}
			}
		}
	}

	h1.title {
		color: @titleColor;
		text-transform: uppercase;
		font-weight: bold;
		padding: 16px 4px 5px 4px;
	}
	h3 {
		&.green {
			color: @green;
			font-size: 14px;
			font-weight: bold;
			padding-left: 5px;
			margin-top: 20px;
		}
	}
}


html {
	&.menuActive {
		position: relative;
		overflow: hidden;
		
		body {
			overflow-x: hidden;
			background-color: #fff;
			
			.page {
				left: 80%;
			}
		}

		header .leftCol .menuBtn {
			background: url(@pathToSprite) -26px -22px no-repeat;
		}
	}
}

@import "./plugins/countdownPlugin.less";
@import "./plugins/slick.less";
@import "./plugins/slick-theme.less";
@import "./components/backToTopBtn.less";