// ---------------- general -------------------
@segoe: Segoe UI, Arial;
// @segoe: 'Helvetica Neue', Helvetica, sans-serif;
@rouble: rouble;
@orange: #ff7e00;
@green: #72af20;
@darkGreen: #5e9e09;
@lrOffset: 1.5%;
@pathToSprite: '../img/sprite.png';



// ---------------- buttons -------------------
@buttonColorBorder: #487d01;



// ---------------- left menu -------------------
@leftMenuGray: #E5E5E5;
@menuAnimTime: 0.3s;
@menuAnimDelay: 0s;
@menuAnimProperty: left;
@menuAnimPropertyMenu: left;
@menuAnimFunction: ease-out;



// ---------------- category -------------------
@breadcrumbsBg: #e0e0e0;
@borderColor: #e5e5e5;



// ---------------- catalog -------------------
@catalogBorderColor: #e1e1e1;
@catalogGreenText: #68a01e;
@catalogPriceColor: #494c51;
@catalogOldPriceColor: #c4c4c4;