.catalog .subCategoriesHoler {
  padding: 0 5px;
  margin-top: 4px;
}
.catalog .subCategoriesHoler .subCategories {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 4px 3px 4px;
}
.catalog .subCategoriesHoler .subCategories li {
  display: inline;
  font-size: 12px;
  margin-right: 2px;
  line-height: 24px;
  color: #6E6E6E;
}
.catalog .subCategoriesHoler .subCategories li.hiddenCategories {
  display: none;
}
.catalog .subCategoriesHoler .subCategories li a {
  color: #6E6E6E;
}
.catalog .subCategoriesHoler .moreBtnHolder {
  text-align: center;
}
.catalog .subCategoriesHoler .moreBtnHolder .moreBtn {
  position: relative;
  text-align: center;
  padding: 6px 37px 9px 22px;
  display: inline-block;
  background: #72af20;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.catalog .subCategoriesHoler .moreBtnHolder .moreBtn:after {
  content: " ";
  position: absolute;
  display: block;
  right: 18px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.catalog .subCategoriesHoler .moreBtnHolder .moreBtn.opened:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.catalog .sorting {
  text-align: center;
  margin-top: 26px;
}
.catalog .sorting a {
  font-size: 10px;
  text-decoration: none;
  color: #2d3e50;
  border: 1px solid #bec3c7;
  border-radius: 10px;
  margin: 0 0px;
  padding: 0px 9px 2px 9px;
}
.catalog .sorting a.active {
  color: #FFF;
  background: #72af20;
  border-color: #72af20;
}
.catalog .filter {
  margin-bottom: 21px;
}
.catalog .filter .openBtn {
  position: relative;
  width: 97%;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 23px;
  padding: 8px 0;
  background: #f1f1f1;
  color: #636363;
  border-radius: 5px;
  cursor: pointer;
}
.catalog .filter .openBtn:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 12px;
  border-top: 6px solid #636363;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.catalog .listing {
  border-top: 1px solid #e1e1e1;
}
.catalog .listing li {
  display: inline-block;
  width: 100%;
  max-height: 200px;
  padding: 6px 0px 6px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}
.catalog .listing li .imageCol {
  float: left;
  height: 100%;
  width: 30%;
  max-width: 120px;
}
.catalog .listing li .imageCol img {
  max-width: 100%;
  max-height: 150px;
}
.catalog .listing li .textCol {
  width: 65%;
  float: left;
  font-size: 12px;
  padding: 4px 0px 0px 12px;
}
.catalog .listing li .textCol .title {
  margin-bottom: 13px;
}
.catalog .listing li .textCol .title a {
  color: #000;
  font-weight: bold;
}
.catalog .listing li .textCol .line .rests {
  position: relative;
  font-size: 10px;
  color: #68a01e;
}
.catalog .listing li .textCol .line .rests:before {
  content: " ";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background: url('../img/sprite.png') -27px -163px no-repeat;
}
.catalog .listing li .textCol .line .delivery {
  position: relative;
  font-size: 10px;
  color: #68a01e;
}
.catalog .listing li .textCol .line .delivery:before {
  content: " ";
  position: relative;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-left: 15px;
  background: url('../img/sprite.png') -44px -163px no-repeat;
}
.catalog .listing li .textCol .line .oldPrice {
  height: 13px;
  text-decoration: line-through;
  margin-top: 8px;
  color: #c4c4c4;
}
.catalog .listing li .textCol .line .oldPrice:after {
  content: "q";
  font-family: rouble;
  margin-left: 7px;
}
.catalog .listing li .textCol .line .priceLine {
  position: relative;
}
.catalog .listing li .textCol .line .priceLine .price {
  font-size: 18px;
  font-weight: bold;
  color: #494c51;
  display: inline-block;
}
.catalog .listing li .textCol .line .priceLine .price:after {
  content: "q";
  font-family: rouble;
  margin-left: 5px;
  font-size: 17px;
}
.catalog .listing li .textCol .line .priceLine .buyBtn {
  position: relative;
  background: #72af20;
  padding: 1px 21px 3px 21px;
  margin-left: 12px;
  color: #FFF;
  font-weight: bold;
  top: -4px;
  border-radius: 5px;
  border-bottom: 2px solid #487d01;
  cursor: pointer;
}
.catalog .listing li .textCol .timers {
  margin-top: 14px;
}
.catalog .listing li .textCol .timers .timerText {
  font-size: 12px;
}
.catalog .listing li .textCol .timers .countdown {
  margin-left: 3px;
  margin-top: 4px;
}
.catalog .moreProducts {
  width: 45.4%;
  color: #5C5C5C;
  font-size: 14px;
  background: #E3E3E3;
  margin: 14px auto 0 auto;
  text-align: center;
  padding: 8px 0 9px 0;
  border-radius: 4px;
  cursor: pointer;
}
.catalog .deliveryWidget {
  margin-top: 31px;
  padding: 11px 5px 14px 5px;
  color: #8e8f90;
  font-size: 11px;
  font-weight: bold;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.catalog .deliveryWidget .city {
  color: #000;
  font-size: 13px;
  font-weight: normal;
  word-spacing: 3px;
}
.catalog .deliveryWidget .city .cityName {
  color: #68a01e;
}
.catalog .deliveryWidget .deliveryPrice {
  margin-top: 18px;
  padding-left: 45px;
  word-spacing: 2px;
  line-height: 25px;
  height: 25px;
  background: url('../img/sprite.png') -1px -197px no-repeat;
}
.catalog .deliveryWidget .pickupPoints {
  height: 30px;
  margin-top: 23px;
  padding-left: 45px;
  word-spacing: 2px;
  line-height: 14px;
  background: url('../img/sprite.png') 4px -235px no-repeat;
}
.catalog .deliveryWidget .pickupPoints .price {
  display: inline-block;
  width: 140px;
  height: 100%;
}
.catalog .deliveryWidget .pickupPoints .showPointsBtn {
  display: inline-block;
  vertical-align: top;
  background: #72af20;
  color: #FFF;
  font-weight: normal;
  font-size: 10px;
  margin-top: 7px;
  margin-left: 9px;
  padding: 1px 17px 3px 18px;
  border-radius: 10px;
  cursor: pointer;
}
.catalog .deliveryWidget .deliveryTime {
  margin-top: 22px;
  padding-left: 45px;
  word-spacing: 2px;
  line-height: 25px;
  height: 25px;
  background: url('../img/sprite.png') 4px -274px no-repeat;
}
.catalog .deliveryWidget .blackText {
  color: #494c51;
}
.catalog .deliveryWidget .deliveryNote {
  font-weight: normal;
  margin-top: 12px;
  line-height: 13px;
  padding-left: 7px;
  word-spacing: 2px;
}
