.categories {
  font-size: 14px;
  margin-bottom: 26px;
}
.categories h1.title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.categories .subCategories li {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.categories .subCategories li:after {
  content: " ";
  position: absolute;
  display: block;
  right: 6px;
  top: 43%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.categories .subCategories li a {
  display: block;
  height: 100%;
  color: #000;
  text-decoration: none;
  padding: 13px 45px 12px 4px;
  box-sizing: border-box;
}
.callBtnHolder {
  padding: 0 1.5%;
  margin-bottom: 41px;
}
.callBtnHolder .callBtn {
  display: block;
  height: 67px;
  color: #FFF;
  background: #72af20;
  border-radius: 6px;
  border-bottom: 3px solid #487d01;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.callBtnHolder .callBtn .btnContent {
  display: inline-block;
  width: 240px;
  height: 100%;
}
.callBtnHolder .callBtn .btnContent:before {
  content: " ";
  display: inline-block;
  background: url('../img/sprite.png') 0px -94px no-repeat;
  height: 100%;
  width: 30px;
  float: left;
  padding-right: 25px;
}
.callBtnHolder .callBtn .btnContent .phone {
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  float: left;
}
.callBtnHolder .callBtn .btnContent .text {
  font-size: 12px;
  padding-top: 3px;
  word-spacing: -2px;
  float: left;
}
