.indexPage {
  padding: 0 1.5%;
}
.indexPage .categoriesHolder {
  margin-top: 7px;
}
.indexPage .categoriesHolder .categoriesList {
  list-style: none;
  margin-top: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #cecece;
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories) {
  position: relative;
  padding: 9px 11px 8px 11px;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  text-decoration: underline;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories):first-child {
  border-radius: 4px 4px 0 0;
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories):after {
  content: " ";
  position: absolute;
  right: 13px;
  top: 11px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #cdcdcd;
  border-right: 2px solid #cdcdcd;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories):hover {
  background: #72af20;
  color: #FFF;
  text-decoration: none;
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories):hover:after {
  border-color: #fff;
}
.indexPage .categoriesHolder .categoriesList li:not(.hiddenCategories):last-child {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}
.indexPage .categoriesHolder .categoriesList li.hiddenCategories {
  display: none;
}
.indexPage .categoriesHolder .categoriesList li.hiddenCategories li:first-child {
  border-radius: 0;
}
.indexPage .categoriesHolder .moreBtnHolder {
  text-align: center;
}
.indexPage .categoriesHolder .moreBtnHolder .moreBtn {
  position: relative;
  text-align: center;
  padding: 6px 37px 9px 22px;
  display: inline-block;
  background: #72af20;
  font-family: Segoe UI, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.indexPage .categoriesHolder .moreBtnHolder .moreBtn:after {
  content: " ";
  position: absolute;
  display: block;
  right: 18px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.indexPage .categoriesHolder .moreBtnHolder .moreBtn.opened:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.indexPage .service {
  margin-top: 31px;
}
.indexPage .service .leftCol {
  float: left;
  width: 50%;
}
.indexPage .service .rightCol {
  float: right;
  width: 50%;
}
.indexPage .service .blockContent {
  padding-top: 28px;
  text-align: center;
}
.indexPage .service .blockContent .serviceBlock {
  display: inline-block;
  width: 150px;
  height: 77px;
}
.indexPage .service .blockContent .imgCol {
  float: left;
  padding-top: 2px;
}
.indexPage .service .blockContent .textCol {
  float: right;
  width: 108px;
  margin-left: 5px;
  text-align: left;
}
.indexPage .service .blockContent .textCol .title {
  font-family: Segoe UI, Arial;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: -1px;
}
.indexPage .service .blockContent .textCol .text {
  padding-top: 6px;
  font-family: Segoe UI, Arial;
  font-size: 10px;
}
.bottomBlock {
  margin-top: 4px;
}
.bottomBlock .pagesHolder {
  background: #5e9e09;
}
.bottomBlock .pagesHolder li {
  display: inline;
}
.bottomBlock .pagesHolder li a {
  display: inline-block;
  background: #72af20;
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #FFF;
  padding: 9px 0;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #5e9e09;
  box-sizing: border-box;
}
.bottomBlock .pagesHolder li a:hover {
  background: #5e9e09;
}
.bottomBlock .pagesHolder li a.delivery {
  width: 20%;
}
.bottomBlock .pagesHolder li a.payment {
  width: 20%;
}
.bottomBlock .pagesHolder li a.pickupPoints {
  width: 40%;
}
.bottomBlock .pagesHolder li a.contacts {
  width: 20%;
}
.bottomBlock .offset {
  padding: 0 1.5%;
  padding-top: 24px;
  text-align: center;
}
.bottomBlock .offset .bottomText {
  display: inline-block;
}
.bottomBlock .offset .bottomText .imgCol {
  float: left;
}
.bottomBlock .offset .bottomText .textCol {
  float: right;
  height: 80px;
  width: 194px;
  padding-left: 15px;
  background: #FAFAFA;
  border-radius: 3px;
  text-align: left;
}
.bottomBlock .offset .bottomText .textCol .title {
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 8px;
  word-spacing: 1px;
}
.bottomBlock .offset .bottomText .textCol .text {
  font-family: Segoe UI, Arial;
  font-size: 12px;
  padding-top: 6px;
  line-height: 13px;
}
.bottomBlock .offset .bottomText.compensation {
  margin-top: 11px;
}
.bottomBlock .offset .bottomText.compensation .textCol {
  padding-left: 1px;
  width: 222px;
}
