html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
@font-face {
  font-family: 'rouble';
  src: url('../fonts/rouble/rouble-webfont.eot');
  src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble/rouble-webfont.woff2') format('woff2'), url('../fonts/rouble/rouble-webfont.woff') format('woff'), url('../fonts/rouble/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoe_font/segoeui.eot');
  src: local('☺'), url('../fonts/segoe_font/segoeui.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe_font/segoeui.svg') format('svg'), url('../fonts/segoe_font/segoeui.woff') format('woff'), url('../fonts/segoe_font/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoe_font/segoeuib.eot');
  src: local('☺'), url('../fonts/segoe_font/segoeuib.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe_font/segoeuib.svg') format('svg'), url('../fonts/segoe_font/segoeuib.woff') format('woff'), url('../fonts/segoe_font/segoeuib.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.leftMenu {
  will-change: transform;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: left 0.3s ease-out 0s;
  transition: left 0.3s ease-out 0s;
}
.leftMenu.menuActive {
  display: block;
}
.leftMenu .title {
  position: relative;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  background: #e5e5e5;
}
.leftMenu .title:before {
  content: " ";
  position: absolute;
  display: block;
  left: 7px;
  top: 38px;
  height: 5px;
  width: 5px;
  background: #e5e5e5;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.leftMenu li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #FFF;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.leftMenu li span {
  position: relative;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.leftMenu li span:after {
  content: " ";
  position: absolute;
  display: block;
  right: 8px;
  top: 17px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.leftMenu li .submenu {
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 100%;
  top: 0px;
  -webkit-transition: left 0.3s ease-out 0s;
          transition: left 0.3s ease-out 0s;
}
.leftMenu li .submenu li {
  cursor: pointer;
}
.leftMenu li .submenu li a {
  display: block;
  text-decoration: none;
  color: #000;
}
.leftMenu li .submenu li.back {
  cursor: pointer;
  line-height: 48px;
  height: 50px;
  padding-left: 19px;
}
.leftMenu li .submenu li.back:before {
  content: " ";
  position: absolute;
  display: block;
  left: 6px;
  top: 20px;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #808080;
  border-left: 2px solid #808080;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.leftMenu li .submenu.showSubmenu {
  left: 0;
}
.page {
  position: relative;
  background: #FFF;
  left: 0%;
  top: 0%;
  box-shadow: 6px 0px 40px #ABABAB;
  will-change: transform;
  -webkit-transition: left 0.3s ease-out 0s;
  transition: left 0.3s ease-out 0s;
}
.page .blockTitle {
  text-align: center;
}
.page .blockTitle .text {
  display: inline-block;
  background: #fff;
  padding: 0 2px;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.page .blockTitle .dottedLine {
  border-bottom: 2px dotted #e1e3e3;
  margin-top: -8px;
}
.page .fullVersion {
  position: relative;
  display: block;
  width: 100%;
  background: #ff7e00;
  text-align: center;
  font-size: 12px;
  font-family: Segoe UI, Arial;
  padding: 4px 0 8px 0;
  text-decoration: underline;
  word-spacing: 1px;
}
.page .fullVersion .fullLink {
  color: #fff;
  padding: 5px 10px;
}
.page .fullVersion .closeFullBtn {
  position: absolute;
  top: 3px;
  right: 1.11%;
  float: right;
  width: 18px;
  height: 18px;
  background: url('../img/sprite.png') 0 0px no-repeat;
}
.page .topLine {
  width: 100%;
  height: 25px;
  background: #72af20;
  font-family: Segoe UI, Arial;
  font-size: 12px;
  box-sizing: border-box;
  padding: 5px 6px 0 5px;
}
.page .topLine .yourCity {
  float: left;
  font-size: 12px;
  color: #D3FF98;
}
.page .topLine .yourCity .cityName {
  color: #FFF;
}
.page .topLine .yourCity .selectBtn {
  display: inline-block;
  height: 8px;
  width: 9px;
  background: url('../img/sprite.png') -2px -23px no-repeat;
  cursor: pointer;
}
.page .topLine .phone {
  float: right;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
}
.page .topLine .phone a {
  color: #FFF;
  text-decoration: none;
}
.page header {
  height: 46px;
  box-shadow: 0px 16px 26px -7px #cdcdcd;
}
.page header .leftCol {
  float: left;
  height: 100%;
}
.page header .leftCol .menuBtn {
  float: left;
  height: 100%;
  width: 31px;
  cursor: pointer;
  background: url('../img/sprite.png') -26px 10px no-repeat;
}
.page header .leftCol .logo {
  float: left;
  height: 100%;
}
.page header .leftCol .logo img {
  margin-top: 8px;
  margin-left: 2px;
}
.page header .rightCol {
  float: right;
  height: 100%;
}
.page header .rightCol .price {
  float: left;
  height: 100%;
  font-family: Segoe UI, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #494C51;
  padding: 15px 2px 0 5px;
}
.page header .rightCol .price:after {
  content: "q";
  padding-left: 5px;
  font-family: rouble;
}
.page header .rightCol .basketBtn {
  position: relative;
  float: left;
  height: 100%;
  width: 36px;
  background: url('../img/sprite.png') 0px -65px no-repeat;
  margin: 0 3px;
}
.page header .rightCol .basketBtn .productCount {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 22px;
  font-family: Segoe UI, Arial;
  font-size: 10px;
  background: #f52539;
  color: #FFF;
}
.page header .rightCol .favoriteBtn {
  float: right;
  height: 100%;
  width: 34px;
  background: url('../img/sprite.png') 3px -26px no-repeat;
}
.page .searchBlock {
  margin-top: 16px;
  padding: 0 1.5%;
}
.page .searchBlock .searchHolder {
  position: relative;
  width: 100%;
  height: 29px;
  box-sizing: border-box;
}
.page .searchBlock .searchHolder .search {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1px 74px 1px 7px;
  word-spacing: 2px;
  border: 1px solid #cecdcd;
  border-radius: 4px;
}
.page .searchBlock .searchHolder .searchBtn {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  float: right;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff7e00;
  border: none;
  color: #FFF;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.page .main {
  padding: 16px 0 0 0;
  font-family: Segoe UI, Arial;
}
.page .main .content {
  padding: 0 1.5%;
}
.page .main .content .categoriesHolder {
  margin-top: 7px;
}
.page .main .content .categoriesHolder .categoriesList {
  list-style: none;
  margin-top: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #cecece;
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories) {
  position: relative;
  padding: 9px 11px 8px 11px;
  font-family: Segoe UI, Arial;
  font-size: 14px;
  text-decoration: underline;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories):first-child {
  border-radius: 4px 4px 0 0;
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories):after {
  content: " ";
  position: absolute;
  right: 13px;
  top: 11px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #cdcdcd;
  border-right: 2px solid #cdcdcd;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories):hover {
  background: #72af20;
  color: #FFF;
  text-decoration: none;
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories):hover:after {
  border-color: #fff;
}
.page .main .content .categoriesHolder .categoriesList li:not(.hiddenCategories):last-child {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}
.page .main .content .categoriesHolder .categoriesList li.hiddenCategories {
  display: none;
}
.page .main .content .categoriesHolder .categoriesList li.hiddenCategories li:first-child {
  border-radius: 0;
}
.page .main .content .categoriesHolder .moreBtnHolder {
  text-align: center;
}
.page .main .content .categoriesHolder .moreBtnHolder .moreBtn {
  position: relative;
  text-align: center;
  padding: 6px 37px 9px 22px;
  display: inline-block;
  background: #72af20;
  font-family: Segoe UI, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.page .main .content .categoriesHolder .moreBtnHolder .moreBtn:after {
  content: " ";
  position: absolute;
  display: block;
  right: 18px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page .main .content .categoriesHolder .moreBtnHolder .moreBtn.opened:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.page .main .content .service {
  margin-top: 31px;
}
.page .main .content .service .leftCol {
  float: left;
  width: 50%;
}
.page .main .content .service .rightCol {
  float: right;
  width: 50%;
}
.page .main .content .service .blockContent {
  padding-top: 28px;
  text-align: center;
}
.page .main .content .service .blockContent .serviceBlock {
  display: inline-block;
  width: 150px;
  height: 77px;
}
.page .main .content .service .blockContent .imgCol {
  float: left;
  padding-top: 2px;
}
.page .main .content .service .blockContent .textCol {
  float: right;
  width: 108px;
  margin-left: 5px;
  text-align: left;
}
.page .main .content .service .blockContent .textCol .title {
  font-family: Segoe UI, Arial;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: -1px;
}
.page .main .content .service .blockContent .textCol .text {
  padding-top: 6px;
  font-family: Segoe UI, Arial;
  font-size: 10px;
}
.page .main .bottomBlock {
  margin-top: 4px;
}
.page .main .bottomBlock .pagesHolder {
  background: #5e9e09;
}
.page .main .bottomBlock .pagesHolder li {
  display: inline;
}
.page .main .bottomBlock .pagesHolder li a {
  display: inline-block;
  background: #72af20;
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #FFF;
  padding: 9px 0;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #5e9e09;
  box-sizing: border-box;
}
.page .main .bottomBlock .pagesHolder li a:hover {
  background: #5e9e09;
}
.page .main .bottomBlock .pagesHolder li a.delivery {
  width: 20%;
}
.page .main .bottomBlock .pagesHolder li a.payment {
  width: 20%;
}
.page .main .bottomBlock .pagesHolder li a.pickupPoints {
  width: 40%;
}
.page .main .bottomBlock .pagesHolder li a.contacts {
  width: 20%;
}
.page .main .bottomBlock .offset {
  padding: 0 1.5%;
  padding-top: 24px;
  text-align: center;
}
.page .main .bottomBlock .offset .bottomText {
  display: inline-block;
}
.page .main .bottomBlock .offset .bottomText .imgCol {
  float: left;
}
.page .main .bottomBlock .offset .bottomText .textCol {
  float: right;
  height: 80px;
  width: 194px;
  padding-left: 15px;
  background: #FAFAFA;
  border-radius: 3px;
  text-align: left;
}
.page .main .bottomBlock .offset .bottomText .textCol .title {
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 8px;
  word-spacing: 1px;
}
.page .main .bottomBlock .offset .bottomText .textCol .text {
  font-family: Segoe UI, Arial;
  font-size: 12px;
  padding-top: 6px;
  line-height: 13px;
}
.page .main .bottomBlock .offset .bottomText.compensation {
  margin-top: 11px;
}
.page .main .bottomBlock .offset .bottomText.compensation .textCol {
  padding-left: 1px;
  width: 222px;
}
.page .paymentTypes {
  margin-top: 22px;
  margin-bottom: 57px;
  text-align: center;
}
.page .paymentTypes .paymentHolder {
  display: inline-block;
  margin-top: 17px;
}
.page .paymentTypes .paymentHolder .imgHolder {
  display: inline-block;
}
.page .paymentTypes .paymentHolder .imgHolder img {
  float: left;
  margin: 0 11px;
}
.page .paymentTypes .paymentHolder .imgHolder img.visa {
  margin-top: 7px;
}
.page footer {
  width: 100%;
  padding-bottom: 20px;
  background: #5e9e09;
}
.page footer .links {
  padding: 0px 6px 9px 6px;
  text-align: center;
  border-bottom: 1px solid #375f01;
}
.page footer .links a {
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #FFF;
  text-decoration: underline;
  padding: 0 7px;
  white-space: nowrap;
  line-height: 29px;
}
.page footer .text {
  padding-top: 16px;
  color: #FFF;
  font-size: 12px;
  font-family: Segoe UI, Arial;
  text-align: center;
}
.page footer .text .copyright {
  word-spacing: 2px;
}
.page footer .text .info {
  padding: 12px 27px 0 27px;
  line-height: 14px;
}
.page footer .fullBtnHolder {
  text-align: center;
  margin-top: 22px;
}
.page footer .fullBtnHolder .fullVersionBottom {
  font-family: Segoe UI, Arial;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  padding: 4px 16px 7px 16px;
  border-radius: 20px;
  background: #2F5100;
}
.page .breadcrumbs {
  background: #e0e0e0;
  width: 100%;
  font-size: 12px;
  padding: 10px 30px 20px 30px;
  box-sizing: border-box;
  color: #494c51;
}
.page .breadcrumbs li {
  display: inline;
}
.page .breadcrumbs li:not(.mainPage) a {
  line-height: 24px;
  color: #494c51;
}
.page .breadcrumbs li:not(.mainPage) a:after {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 1px;
  border-top: 2px solid #494c51;
  border-right: 2px solid #494c51;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page .breadcrumbs li.mainPage a {
  position: relative;
}
.page .breadcrumbs li.mainPage a:before {
  content: " ";
  position: absolute;
  top: 3px;
  left: -25px;
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url('../img/sprite.png') -6px -163px no-repeat;
}
.page h1.title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px 4px 5px 4px;
}
.page .categories {
  font-size: 14px;
  margin-bottom: 26px;
}
.page .categories h1.title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.page .categories .subCategories li {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.page .categories .subCategories li:after {
  content: " ";
  position: absolute;
  display: block;
  right: 6px;
  top: 43%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page .categories .subCategories li a {
  display: block;
  height: 100%;
  color: #000;
  text-decoration: none;
  padding: 13px 45px 12px 4px;
  box-sizing: border-box;
}
.page .callBtnHolder {
  padding: 0 1.5%;
  margin-bottom: 41px;
}
.page .callBtnHolder .callBtn {
  display: block;
  height: 67px;
  color: #FFF;
  background: #72af20;
  border-radius: 6px;
  border-bottom: 3px solid #487d01;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.page .callBtnHolder .callBtn .btnContent {
  display: inline-block;
  width: 240px;
  height: 100%;
}
.page .callBtnHolder .callBtn .btnContent:before {
  content: " ";
  display: inline-block;
  background: url('../img/sprite.png') 0px -94px no-repeat;
  height: 100%;
  width: 30px;
  float: left;
  padding-right: 25px;
}
.page .callBtnHolder .callBtn .btnContent .phone {
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  float: left;
}
.page .callBtnHolder .callBtn .btnContent .text {
  font-size: 12px;
  padding-top: 3px;
  word-spacing: -2px;
  float: left;
}
.page .catalog .subCategoriesHoler {
  padding: 0 5px;
  margin-top: 4px;
}
.page .catalog .subCategoriesHoler .subCategories {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 4px 3px 4px;
}
.page .catalog .subCategoriesHoler .subCategories li {
  display: inline;
  font-size: 12px;
  margin-right: 2px;
  line-height: 24px;
  color: #6E6E6E;
}
.page .catalog .subCategoriesHoler .subCategories li.hiddenCategories {
  display: none;
}
.page .catalog .subCategoriesHoler .subCategories li a {
  color: #6E6E6E;
}
.page .catalog .subCategoriesHoler .moreBtnHolder {
  text-align: center;
}
.page .catalog .subCategoriesHoler .moreBtnHolder .moreBtn {
  position: relative;
  text-align: center;
  padding: 6px 37px 9px 22px;
  display: inline-block;
  background: #72af20;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.page .catalog .subCategoriesHoler .moreBtnHolder .moreBtn:after {
  content: " ";
  position: absolute;
  display: block;
  right: 18px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page .catalog .subCategoriesHoler .moreBtnHolder .moreBtn.opened:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.page .catalog .sorting {
  text-align: center;
  margin-top: 26px;
}
.page .catalog .sorting a {
  font-size: 10px;
  text-decoration: none;
  color: #2d3e50;
  border: 1px solid #bec3c7;
  border-radius: 10px;
  margin: 0 0px;
  padding: 0px 9px 2px 9px;
}
.page .catalog .sorting a.active {
  color: #FFF;
  background: #72af20;
  border-color: #72af20;
}
.page .catalog .filter {
  margin-bottom: 21px;
}
.page .catalog .filter .openBtn {
  position: relative;
  width: 97%;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 23px;
  padding: 8px 0;
  background: #f1f1f1;
  color: #636363;
  border-radius: 5px;
  cursor: pointer;
}
.page .catalog .filter .openBtn:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 12px;
  border-top: 6px solid #636363;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.page .catalog .listing {
  border-top: 1px solid #e1e1e1;
}
.page .catalog .listing li {
  display: inline-block;
  width: 100%;
  max-height: 200px;
  padding: 6px 0px 6px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}
.page .catalog .listing li .imageCol {
  float: left;
  height: 100%;
  width: 30%;
  max-width: 120px;
}
.page .catalog .listing li .imageCol img {
  max-width: 100%;
  max-height: 150px;
}
.page .catalog .listing li .textCol {
  width: 65%;
  float: left;
  font-size: 12px;
  padding: 4px 0px 0px 12px;
}
.page .catalog .listing li .textCol .title {
  margin-bottom: 13px;
}
.page .catalog .listing li .textCol .title a {
  color: #000;
  font-weight: bold;
}
.page .catalog .listing li .textCol .line .rests {
  position: relative;
  font-size: 10px;
  color: #68a01e;
}
.page .catalog .listing li .textCol .line .rests:before {
  content: " ";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background: url('../img/sprite.png') -27px -163px no-repeat;
}
.page .catalog .listing li .textCol .line .delivery {
  position: relative;
  font-size: 10px;
  color: #68a01e;
}
.page .catalog .listing li .textCol .line .delivery:before {
  content: " ";
  position: relative;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-left: 15px;
  background: url('../img/sprite.png') -44px -163px no-repeat;
}
.page .catalog .listing li .textCol .line .oldPrice {
  height: 13px;
  text-decoration: line-through;
  margin-top: 8px;
  color: #c4c4c4;
}
.page .catalog .listing li .textCol .line .oldPrice:after {
  content: "q";
  font-family: rouble;
  margin-left: 7px;
}
.page .catalog .listing li .textCol .line .priceLine {
  position: relative;
}
.page .catalog .listing li .textCol .line .priceLine .price {
  font-size: 18px;
  font-weight: bold;
  color: #494c51;
  display: inline-block;
}
.page .catalog .listing li .textCol .line .priceLine .price:after {
  content: "q";
  font-family: rouble;
  margin-left: 5px;
  font-size: 17px;
}
.page .catalog .listing li .textCol .line .priceLine .buyBtn {
  position: relative;
  background: #72af20;
  padding: 1px 21px 3px 21px;
  margin-left: 12px;
  color: #FFF;
  font-weight: bold;
  top: -4px;
  border-radius: 5px;
  border-bottom: 2px solid #487d01;
  cursor: pointer;
}
.page .catalog .listing li .textCol .timers {
  margin-top: 14px;
}
.page .catalog .listing li .textCol .timers .timerText {
  font-size: 12px;
}
.page .catalog .listing li .textCol .timers .countdown {
  margin-left: 3px;
  margin-top: 4px;
}
.page .catalog .moreProducts {
  width: 45.4%;
  color: #5C5C5C;
  font-size: 14px;
  background: #E3E3E3;
  margin: 14px auto 0 auto;
  text-align: center;
  padding: 8px 0 9px 0;
  border-radius: 4px;
  cursor: pointer;
}
html.menuActive {
  position: relative;
  overflow: hidden;
}
html.menuActive body {
  overflow-x: hidden;
  background-color: #fff;
}
html.menuActive body .page {
  left: 80%;
}
html.menuActive header .leftCol .menuBtn {
  background: url('../img/sprite.png') -26px -22px no-repeat;
}
.countdown .cnt-dwn-d,
.countdown .cnt-dwn-h,
.countdown .cnt-dwn-m,
.countdown .cnt-dwn-s {
  width: 14px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 7px;
}
.countdown .cnt-dwn-digit {
  background: url(../img/countdown.png) 0 0 no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
}
.countdown .cnt-dwn-d .cnt-dwn-digit span,
.countdown .cnt-dwn-h .cnt-dwn-digit span,
.countdown .cnt-dwn-m .cnt-dwn-digit span,
.countdown .cnt-dwn-s .cnt-dwn-digit span {
  color: #95999f;
  font-size: 10px;
  font-weight: bold;
  display: block;
  line-height: 22px;
}
.countdown .cnt-dwn-d span,
.countdown .cnt-dwn-h span,
.countdown .cnt-dwn-m span,
.countdown .cnt-dwn-s span {
  color: #9f9f9f;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.countdown .cnt-dwn-d span.bottomText,
.countdown .cnt-dwn-h span.bottomText,
.countdown .cnt-dwn-m span.bottomText,
.countdown .cnt-dwn-s span.bottomText {
  margin-left: -3px;
}
.countdown .cnt-dwn-d span.bottomText.days,
.countdown .cnt-dwn-h span.bottomText.days,
.countdown .cnt-dwn-m span.bottomText.days,
.countdown .cnt-dwn-s span.bottomText.days {
  margin-left: -1px;
}
.countdown .cnt-dwn-sep {
  color: #8a8f96;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin: 0px 4px 0 14px;
}
