{%
	set footerLinksArr = {
		actions: '/cat/aktsii.html',
		delivery: '/page/dostavka.html',
		payment: '/page/oplata.html',
		pickupPoints: '/page/punkty-samovyvoza.html',
		warranty: '/page/garantiya.html',
		courier: '/page/universal-courier.html',
		contacts: '/page/contacts.html',
		about: '/page/about.html',
		credit: '/page/pokupka-v-kredit.html',
		compensation: '/page/kompensatsiya-invalidam.html',
	}
%}

{% set phone2 = '8(800)555-62-50' %}

{%
	set imagePath = {
		product: {
			big: '/upload/big/',
			medium: '/upload/medium/',
			small: '/upload/small/',
			extra: {
				medium: '/upload/more/medium/',
				small: '/upload/more/small/'
			}
		}
	}
%}
<!DOCTYPE html PUBLIC
  "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
  "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<meta name="keywords" content="{{ seoData.seoKeywords }}">
	<meta name="description" content="{{ seoData.seoDescription }}">
	<title>{{ seoData.seoTitle }}</title>
	<link rel="stylesheet" href="/theme/mobile/production/style.css">
</head>
<body>
	
	{% include 'components/leftMenu.twig' %}

	<div class="page" id="page">

		{% include 'components/header.twig' %}

		<div class="main">
			
			{% include page ~ '.twig' %}

		</div>

		{% include 'components/footer.twig' %}
	</div>

	<div class="backToTopBtn" id="backToTopBtn">Наверх</div>

	<script src="/theme/mobile/production/main.min.js"></script>
	<script type="text/javascript" async src="http://mc.yandex.ru/metrika/watch.js"></script>
	<script async src="//www.google-analytics.com/analytics.js"></script>

	{% include 'components/counters.twig' %}

</body>
</html>