<div class="callBtnHolder">
	<a href="tel:{{ phone2 }}" class="callBtn">
		<span class="btnContent">
			<span class="phone">{{ phone2 }}</span>
			<span class="text">Звонок по России бесплатный</span>
		</span>
	</a>
</div>