<div class="paymentTypes">
	<div class="blockTitle">
		<div class="text">Принимаем к оплате</div>
		<div class="dottedLine"></div>
	</div>

	<div class="paymentHolder">
		<div class="imgHolder">
			<img src="/theme/mobile/img/index/mastercart.jpg" alt="" />
			<img src="/theme/mobile/img/index/visa.jpg" alt="" class="visa" />
			<img src="/theme/mobile/img/index/yandex-money.jpg" alt="" />
			<img src="/theme/mobile/img/index/sberbank.jpg" alt="" />
		</div>
	</div>
</div>